.loader{
    position: fixed;
    text-align: center;
    z-index: +50;
    width: 100vw;
    height: 100vh;
    padding-top: 250px;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
    display: none;
}

.header{
    background: #3496eb;
    padding: 25px 0;
    color: white;
}
.header h2{
    margin: unset !important;
}
.header a{
    font-size: 14px;
    color: white;
}
.header a:hover{
    text-decoration: none;
}

.content{
    padding: 25px 0;
}

svg text{
    fill: black;
    font-size: 25px;
    cursor: pointer;
}
svg g path{
    fill: #6db8fc;
    stroke: #0466bf;
    stroke-linejoin: round;
    stroke-width: 2px;
    transition: all 0.1s;
}
svg g:hover path{
    fill: #0466bf;
    cursor: pointer;
}
svg g path.active{
    fill: #bee8c9;
    stroke: #148532;
    stroke-width: 2px;
}
#info-box {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: +10;
    background-color: #121212;
    border: 2px solid #121212;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
}


.asset-review-data{
    
}